.books-content-grid{
    display: grid;
    max-height: 100%;
    min-height: 100%;
    grid-template-areas: 
    "searchbar filter"
    "table table";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr;
}

.searchbar{
    grid-area: searchbar;
    justify-self: start;
    align-self:center ;
    margin-left: 10%;
}
.searchbar input{
    border-radius: 5px;
    border:none;
    margin-left: 5px;
}

.filter{ 
    min-width: 40%;
    grid-area: filter;
    justify-self: end;
    margin-right: 10%;
    align-self:center ;
}

.container-table{
    grid-area: table;
    min-height: 100%;
}

