.books-content-grid{
    display: grid;
    grid-template-areas: 
    "searchbar filter"
    "table table";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
}

.searchbar{
    grid-area: searchbar;
    justify-self: start;
    align-self:center ;
    margin-left: 10%;
}

.filter{ 
    min-width: 20%;
    grid-area: filter;
    justify-self: end;
    margin-right: 10%;
    align-self:center ;
}

.table-container{
    grid-area: table;
}
