.faq-page-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.faq-question {
  background-color: var(--background);
  border-radius: 9px 9px 9px 9px;
  border: var(--borders);
  margin: 1em;
}