.top-page-content {
  background: var(--pageInnerColor) !important;
  display: grid;
  grid-template-areas: "top-reader-card top-book-card my-points my-recommendation" "top-lists top-lists top-lists top-lists";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 1em;
}

.top-top-reader-card, .top-top-book-card, .top-my-points, .top-my-recommendation {
  background: var(--background);
  border-radius: 9px 9px 9px 9px;
  border: var(--borders);
  font-weight: bold;
}

.top-top-reader-card {
  grid-area: top-reader-card;
}

.top-top-book-card {
  grid-area: top-book-card;
}

.top-my-points {
  grid-area: my-points;
}

.top-my-recommendation {
  grid-area: my-recommendation;
}

.top-inner-recommendation {
  display: grid;
  grid-template-areas: "a d" "b d" "c d";
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1em;
  width: 100%;
}

.top-top-lists {
  grid-area: top-lists;
  background: var(--background);
  border-radius: 9px 9px 9px 9px;
  border: var(--borders);
  display: grid;
  grid-template-areas: "header" "table";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr;
}

.top-top-list-header {
  background: var(--barcolor);
  grid-area: "header";
  padding-top: 1%;
  display: grid;
  gap: 1%;
  grid-template-areas: "filter student class points readbooks";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.top-tableDiv {
  border-radius: 9px 9px 9px 9px;
  padding: 3%;
  grid-area: table;
  background: var(--background);
}

.top-filter-label {
  grid-area: filter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nameButton {
  border: var(--borders);
  background: var(--barcolor);
  grid-area: student;
  border-radius: 9px 9px 0px 0px !important;
  border-style: solid solid hidden solid;
}

.top-classButton {
  border: var(--borders);
  background: var(--barcolor);
  grid-area: class;
  border-radius: 9px 9px 0px 0px !important;
  border-style: solid solid hidden solid;
}

.top-pointsButton {
  border: var(--borders);
  background: var(--barcolor);
  grid-area: points;
  border-radius: 9px 9px 0px 0px !important;
  border-style: solid solid hidden solid;
}

.top-readBooksButton {
  border: var(--borders);
  background: var(--barcolor);
  grid-area: readbooks;
  border-radius: 9px 9px 0px 0px !important;
  border-style: solid solid hidden solid;
}

.top-table-holder {
  border: var(--borders);
  background: var(--background);
}

hr {
  width: 90%;
  border-color: black;
  margin: 0px;
  margin-left: 1em;
}

.top-card-title {
  margin: 0px;
  margin-left: 1em;
}

.cbc-book-img {
  grid-area: d;
  padding: 1em;
}

.cbc-book-img img {
  width: 100%;
  height: 100%;
}