.top-page-content {
  min-height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-areas: 
  "top-reader-card top-book-card my-points my-recommendation" 
  "top-lists top-lists top-lists top-lists";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-gap: 1em;
  background:rgba(255, 255,255, 0) !important;
}

.top-page-content th:hover{
  cursor: pointer;
  text-decoration: underline;
}



@media screen and (max-width: 700px) {
  .top-page-content{
    display: grid;
    grid-template-areas: 
    "my-points my-recommendation" 
    "top-lists top-lists";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-gap: 1em;
  }
  .top-my-points{
    text-align: center;
  }
  .top-top-reader-card, .top-top-book-card, .top-inner-recommendation {
    display: none;
  }

  .cbc-book-img{
    display: none;
  }

  @media screen and (max-width: 400px) {
    .top-page-content{
      display: grid;
      grid-template-areas: 
      "my-points" 
      "top-lists";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr;
      grid-gap: 1em;
    }
    .top-my-points{
      text-align: center;
    }
    .top-top-reader-card, .top-top-book-card, .top-my-recommendation, .top-inner-recommendation {
      display: none;
    }
  
  
  }


}

.top-top-reader-card {
  grid-area: top-reader-card;
}

.top-top-book-card {
  grid-area: top-book-card;
}

.top-my-points {
  grid-area: my-points;
}

.top-my-recommendation {
  grid-area: my-recommendation;
}

.top-inner-recommendation {
  display: grid;
  grid-template-areas: "a d" "b d" "c d";
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1em;
  width: 100%;
}

.top-top-lists {
  grid-area: top-lists;
  display: grid;
  grid-template-areas: "table";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow-y: auto;
}


.top-tableDiv {
  border-radius: 9px 9px 9px 9px;
  padding: 3%;
  grid-area: table;
  background: var(--white);
  background:rgba(0, 0,0, 0);
  overflow-y: auto;
}

.top-filter-label {
  grid-area: filter;
  align-self: center;
  justify-self: center;
}

.top-nameButton {
  border: var(--borders);
  background: var(--barcolor);
  grid-area: student;
  border-radius: 9px 9px 0px 0px !important;
  border-style: solid solid hidden solid;
  background:rgba(0, 0,0, 0);
}

.top-classButton {
  border: var(--borders);
  background: var(--barcolor);
  grid-area: class;
  border-radius: 9px 9px 0px 0px !important;
  border-style: solid solid hidden solid;
  background:rgba(0, 0,0, 0);
}

.top-pointsButton {
  border: var(--borders);
  background: var(--barcolor);
  grid-area: points;
  border-radius: 9px 9px 0px 0px !important;
  border-style: solid solid hidden solid;
  background:rgba(0, 0,0, 0);
}

.top-readBooksButton {
  border: var(--borders);
  background: var(--barcolor);
  grid-area: readbooks;
  border-radius: 9px 9px 0px 0px !important;
  border-style: solid solid hidden solid;
  background:rgba(0, 0,0, 0);
}

.top-table-holder {
  border: var(--borders);
  background: var(--background);
  background:rgba(0, 0,0, 0);
}

hr {
  width: 90%;
  border-color: black;
  margin: 0px;
  margin-left: 1em;
}

.top-card-title {
  margin: 0px;
  text-align: center;
}

.top-card-text{
  margin: 0px;
  margin-top: 1em;
  margin-left: 1em;
}

.cbc-book-img {
  grid-area: d;
  padding: 1em;
}

.cbc-book-img img {
  width: 100%;
  height: 100%;
}