.general-styling{
    display: grid;
    grid-template: 
    "a b";
    grid-template-columns: 0.4fr 2fr ;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    
}

.sidebar-container {
    grid-area: a;
}

.content-container {
    grid-area: b;
    align-items: center;
}

