.page-content {
  background-color: var(--white);
    width: 100%;
    height: 100%;
    padding: 1em;
    display: grid;
    grid-template-areas: "top-reader-card top-book-card my-points my-recommendation" "top-lists top-lists top-lists top-lists";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap:1em;

}

.top-reader-card, .top-book-card, .my-points, .my-recommendation {
  background-color: var(--background);
  border-radius: 9px 9px 9px 9px;
  border: var(--borders);
}

.top-reader-card {
    grid-area: top-reader-card;
}

.top-book-card {
    grid-area: top-book-card;
}

.my-points {
    grid-area: my-points;
}

.my-recommendation {
    grid-area: my-recommendation;
}

.top-lists {
  grid-area: top-lists;
  background-color: var(--topListColor);
  border-radius: 9px 9px 9px 9px;
  border: var(--borders);
  grid-template-areas: "top-list-top-part top-list-bottom-part";
  grid-template-rows: 1fr 5fr;
}

.top-list-top-part {
    grid-template-areas: "tltp-header tltp-names tltp-classes tltp-points tltp-read-books";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.tltp-header {
    grid-area: tltp-header;
}

.tltp-names {
        grid-area: tltp-names;
}

.tltp-classes {
        grid-area: tltp-classes;
}

.tltp-points {
        grid-area: tltp-points;
}

.tltp-read-books {
    grid-area: tltp-read-books;
}



.top-list-bottom-part {
    grid-template-areas: "tlbp-names tlbp-classes tlbp-points tlbp-read-books";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tlbp-names {
    grid-area: tlbp-names;
}

.tlbp-classes {
    grid-area: tlbp-classes;
}

.tlbp-points {
    grid-area: tlbp-points;
}

.tlbp-read-books {
    grid-area: tlbp-read-books;
}

hr {
width:90%;
border-color:black;
margin:0px;
margin-left:1em;
}

.card-title {
    margin:0px;
    margin-left:1em;
}

.card-text {
    margin:0px;
    margin-left:2em;
    margin-top: 2em;
}

.pic {
    margin:0px;
}