.accordion__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  border: none;
  outline: none;
  transition: background-color 0.4s ease;
}

.accordion:hover,
.active {
  background-color: #ccc;
}

.accordion__title {
  border: solid grey 2px;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.accordion__icon {
  transition: transform 0.4s ease;
}

.rotate {
  transform: rotate(180deg);
}

.chevronButton {
    zoom: 1.5;
    width: 100%;
    border: 0px;
}

.chevronarrow {
    float: right;
}

.accordion__content {
  background-color: white;
  overflow: auto;
  transition: max-height 0.4s ease;
}

.accordion__text {
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
