.arc-page-content{
}

.arc-review-container{
    display: grid;
    grid-template-areas: "img info text info2";
    grid-template-columns: 2fr 1fr 2fr 1fr;
    width:90%;
    height:20vh;
    min-height: 100px;
    border: var(--borders);
    border-radius: 10px;
    margin: 10px auto;
}

.arc-review-container :hover{

}

.published{
    color: rgb(24, 64, 138);
}

.accepted{
    color: rgb(29, 122, 53);
}

.not-accepted{
    color: rgb(128, 27, 27);
}


.arc-review-img{
    grid-area: img;
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
    align-self: center;
}

.arc-review-img img{
    height: 90%;
    max-height: 90%;
    max-width: 50%;
    width: 50%;
    min-width: 50%; 
}
.arc-review-info{
    grid-area: info;
    align-self: center;
}
.arc-review-text{
    grid-area: text;
    margin-top: 2em;
}
.arc-review-info2{
    grid-area: info2;
    align-self: center;
}