
.bpd-page-content{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr ;
    grid-template: 
    "desc info"
    "reviews reviews";
    gap: 5%;

}

.description-holder{
    grid-area: desc;
    
}

.description{
    margin-left: 10%;
    margin-top: 10%;
}


.information{
    margin-left: 10%;
    margin-top: 10%;
    grid-area: info;
    column-gap: 5%;
    display: grid;
    grid-template: 
    "title buttonBack"
    "author image"
    "pages image";
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr ;

}

.backButton{
    grid-area: buttonBack;
    justify-self: end;
    align-self:top;
    margin-right: 10%;
    width: 30px;
    height: 30px;
}

.backButton:hover{
    cursor: pointer;
    color: gray;
}

.reviews{
    grid-area: reviews;
}

.title{
    grid-area: title;
}

.author{
    grid-area: author;
}

.pages{
    grid-area: pages;
}

.image{
    grid-area: image;
    justify-self: center;
    align-self: center;

}

.review-container{
    margin-left: 5%;
    margin-right: 5%;
    border: solid;
    border-radius: 9px 9px 9px 9px;
    border-color: blueviolet;
    grid-area: review;
    display: grid;
    grid-template:
    "name"
    "review";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.name{
    grid-area: name;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 1%;
}

.review{
    grid-area: review;
    margin-left: 1%;
    margin-top: 1%;
}

h1{
    margin-left: 5%;
}




















