.mrc-page-content {
  background: var(--pageInnerColor) !important;
  display: grid;
  grid-template-areas: "b b c c" "d d d d";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 3fr;
  gap: 1em;

}



.mrc-B {
  grid-area: b;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "score score" "likeable likeable";
  background-color: var(--background);
  border-radius: 9px 9px 9px 9px;
  border: var(--borders);
}

.mrc-score {
  grid-area: score;
}

.mrc-likeable {
  grid-area: likeable;
}

.mrc-C {
  grid-area: c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "title title pic" "author author pic" "pages pages pic";
  background-color: var(--background);
  border-radius: 9px 9px 9px 9px;
  border: var(--borders);
}

.mrc-pages {
  grid-area: pages;
}

.mrc-author {
  grid-area: author;
}

.mrc-pic {
  display: flex;
  align-items: center;
  grid-area: pic;
}

.mrc-D {
  grid-area: d;
  background-color: var(--background);
  border-radius: 9px 9px 9px 9px;
  border: var(--borders);
}

